// @import 'material-icons/iconfont/material-icons.css';

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fe;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
